// ------------------------- BODY --------------------------- //

* {
  margin: 0;
  padding: 0;
  color: $textcolor;
}


///////// color //////////
body {
  background-color: $darkgrey;
  margin: 0;
  padding: 0;
  //color: $textcolor;
  font-size: $em;
  @include flexbox(column, flex-start, center);
}
/*
///////// gradient //////////
body {
  background: $color;
  background: -webkit-linear-gradient($color, $color2);
  background: -o-linear-gradient($color, $color2);
  background: -moz-linear-gradient($color, $color2);
  background: linear-gradient($color, $color2);
}

///////// pattern //////////
#bg_pattern {
  background-image: url(image.png);
  background-position: left top;
  background-size: $percent*25;
  background-repeat: repeat;
}

///////// image //////////
#bg_image {
  background: url(image.png);
  background-size: cover;
  background-repeat: no-repeat;
}*/