// ------------------------- FORMULARE --------------------------- //

form {
  @include flexbox(column, space-between, flex-start);
  div {
    width: $percent*100;
    margin-bottom: $em;
    @include flexbox(row, flex-start, flex-start);
    label {
      width: $percent*20;
    }
    input {
      width: $percent*40;
      height: $em*2;
      border: none;
      border-bottom: $border_grey;
      padding: $em;
      @include border-radius($pixel*3);
      @include box_shadow($box_shadow);
      @include placeholder {
        font-family: $caviarI;
        font-size: $em*0.9;
        color: $lightgrey;
      }
      // Media Query max-width 1400px
      @include breakpoint1400 {
        width: $percent*50;
      }
      // Media Query max-width 1000px
      @include breakpoint1000 {
        width: $percent*60;
      }
    }
    textarea {
      @extend input;
      height: $em*10;
      @include box_shadow($box_shadow);
    }
    input[type=submit] {
      @extend .button;
    }
  }
}