// ------------------------- HEADER --------------------------- //

// Platzierung Logo
// Bannerbild
// Breite (Viewport oder schmaler)


////////// Wireframe 1 - Width < Viewport ///////////

header {
  width: $percent*75;
  background-color: $white_trans;
  #logo_wrapper {
    width: auto;
  }
  #banner_wrapper {
    width: $percent*100;
    img {
      width: $percent*100;
    }
  }
}


////////// Wireframe 2 - Width = Viewport ///////////

/*header {
  width: $percent*100;
  background-color: $white_trans;
  position: relative;
  #banner_wrapper {
    width: $percent*100;
    img {
      width: $percent*100;
    }
  }
  #logo_wrapper {
    width: auto;
    position: absolute;
    top: $percent*5;
    left: $percent*5;
  }
}*/

////////// Wireframe 3 + 4 - Width = Viewport ///////////

/*header {
  width: $percent*100;
  position: relative;
  //position: fixed;
  #banner_wrapper {
    width: $percent*100;
    img {
      width: $percent*100;
    }
  }
  #logo_wrapper {
    width: auto;
    position: absolute;
    top: $percent*5;
    left: $percent*5;
  }
}
*/