// ------------------------- NAVIGATION --------------------------- //

// Platzierung
//    über oder unter Bannerbild
//    seitlich unter Bannerbild


////////// über Bannerbild (Wireframe 1) ///////////

.nav_line {
  padding: $em*2;
  @include flexbox(row, space-between, flex-end);
  #main_nav ul {
    width: $percent*60;
    @include flexbox (row, space-between, flex-end);
    li {
      padding: 0 $em;
      font-family: $caviarB;
      font-size: $em*1.5;
    }
  }
}

#subnavi ul {
  margin-bottom: $vertspace;
  @include flexbox(row, flex-start, center);
  li {
    padding-right: $em*2;
    font-family: $caviarB;
    font-size: $em*1.2;
  }
}

.footer_navi {
  font-family: $caviarB;
  font-size: $em;
}


////////// unter Bannerbild (Wireframe 2) ///////////

/*#main_nav ul {
  width: $percent*85;
  margin: 0 auto;
  //border-bottom: $border_dark;
  padding: $em*2 0;
  @include flexbox (row, space-between, flex-end);
  li {
    padding: 0 $em;
    font-family: $caviarB;
    font-size: $em*1.5;
  }
}

#subnavi ul {
  margin-bottom: $vertspace;
  @include flexbox(row, space-between, center);
  li {
    padding: 0 $em;
    font-family: $caviarB;
    font-size: $em*1.2;
  }
}

.footer_navi {
  font-family: $caviarB;
  font-size: $em;
}*/


////////// unter Bannerbild links (Wireframe 3 + 4) ///////////

/*#main_nav {
  width: $percent*100;
}
#main_nav ul {
  width: $percent*100;
  background-color: $white_trans;
  @include flexbox (column, space-between, center);
  li {
    width: $percent*80;
    padding: $em*0.7;
    font-family: $caviarB;
    font-size: $em*1.5;
    &:not(:first-child) {
      border-top: $border_dark;
    }
  }
}

#subnavi ul {
  margin-bottom: $vertspace;
  @include flexbox(row, flex-start, center);
  li {
    padding-right: $em*2;
    font-family: $caviarB;
    font-size: $em*1.2;
  }
}*/