/*
* importiert Partials
* Definition der Media Queries
*/
/**
* SassFlexbox
* Manage Flexbox in Sass easily.
*
* @author      Samuel Marchal (zessx)
* @version     0.1
* @website     http://smarchal.com/sass-flexbox/
*/
/*
    Display
 */
body, .nav_line, .nav_line #main_nav ul, .subnavi ul, .projnavi ul, #main_wrapper, #main_wrapper aside #sidebar, form, form div, .vorstand_box, footer, #imprint_wrapper, #imprint_wrapper .imprint_box .imprint_subbox, #backend #backend_header, #backend #backend_header nav ul, #backend #backend_main .content, #backend #backend_main .content .download, #backend .crud, #backend .crud > div, #backend .crud > div div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/*
    Flex direction
 */
.nav_line, .nav_line #main_nav ul, .subnavi ul, .projnavi ul, #main_wrapper, form div, .vorstand_box, footer, #imprint_wrapper .imprint_box .imprint_subbox, #backend #backend_header, #backend #backend_header nav ul, #backend #backend_main .content, #backend .crud > div, #backend .crud > div div {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

body, #main_wrapper aside #sidebar, form, #imprint_wrapper, #backend #backend_main .content .download, #backend .crud {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/*
    Flex wrap
 */
/*
    Flex flow
 */
/*
    Order
 */
/*
    Flex grow
 */
/*
    Flex shrink
 */
/*
    Flex basis
 */
/*
    Flex
 */
/*
    Justify content
 */
body, .subnavi ul, .projnavi ul, form div, #imprint_wrapper .imprint_box .imprint_subbox, #backend #backend_main .content, #backend #backend_main .content .download, #backend .crud, #backend .crud > div {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-flex-pack: start;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.nav_line, .nav_line #main_nav ul, #main_wrapper aside #sidebar, form, .vorstand_box, #imprint_wrapper, #backend #backend_header nav ul, #backend .crud > div div {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-flex-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

#main_wrapper, footer, #backend #backend_header {
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

/*
    Align items
 */
#main_wrapper, form, form div, .vorstand_box, footer, #imprint_wrapper, #imprint_wrapper .imprint_box .imprint_subbox, #backend #backend_main .content, #backend #backend_main .content .download, #backend .crud {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.nav_line, .nav_line #main_nav ul, #backend #backend_header {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

body, .subnavi ul, .projnavi ul, #main_wrapper aside #sidebar, #backend #backend_header nav ul, #backend .crud > div, #backend .crud > div div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

/*
    Align self
 */
/*
    Align content
 */
@font-face {
  font-family: 'Caviar';
  src: url("../fonts/CaviarDreams.ttf"); }
@font-face {
  font-family: 'Caviar Bold';
  src: url("../fonts/Caviar_Dreams_Bold.ttf"); }
@font-face {
  font-family: 'Caviar Italic';
  src: url("../fonts/CaviarDreams_Italic.ttf"); }
@font-face {
  font-family: 'Caviar BoldIt';
  src: url("../fonts/CaviarDreams_BoldItalic.ttf"); }
/************************** ARCHIVE ****************************/
/*@mixin text ($f_family, $f_size, $line-height, $color) {
  font-family: $f_family;
  font-size: $f_size;
  line-height: $line-height;
  color: $color;
}

@mixin hyphens ($hyph) {
  -moz-hyphens: $hyph;
  -webkit-hyphens: $hyph;
  -ms-hyphens: $hyph;
  hyphens: $hyph;
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}


@mixin background ($bg_img, $bg_pos, $bg_rep, $bg_size, $bg_color) {
  background-image: $bg_img;
  background-position: $bg_pos;
  background-repeat: $bg_rep;
  background-size: $bg_size;
  background-color: $bg_color;
}

*/
/*@mixin touch-action {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

@mixin user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/
p, li, label {
  font-family: "Caviar";
  font-size: 1em;
  line-height: 1.5em; }
  @media screen and (max-width: 1000px) {
    p, li, label {
      font-size: 0.9em;
      line-height: 1.3em; } }

a {
  font-family: "Caviar Bold";
  text-decoration: none;
  color: #222; }

li {
  list-style-type: none; }

h1 {
  font-family: "Caviar Bold";
  font-size: 2em;
  line-height: 3em; }
  @media screen and (max-width: 1000px) {
    h1 {
      font-size: 1.7em;
      line-height: 2.5em; } }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 1.5em;
      line-height: 2em; } }

h2 {
  font-family: "Caviar BoldIt";
  font-size: 1.5em;
  line-height: 3em; }
  @media screen and (max-width: 1000px) {
    h2 {
      font-size: 1.3em;
      line-height: 2em; } }

h3 {
  font-family: "Caviar Bold";
  font-size: 1.3em;
  line-height: 3em; }
  @media screen and (max-width: 1000px) {
    h3 {
      font-size: 1.1em;
      line-height: 2em; } }

h4 {
  font-family: "Caviar Bold";
  font-size: 1.2em;
  line-height: 3em; }
  @media screen and (max-width: 1000px) {
    h4 {
      font-size: 1em;
      line-height: 2em; } }

h5 {
  font-family: "Caviar BoldIt";
  font-size: 1.2em;
  line-height: 3em; }
  @media screen and (max-width: 1000px) {
    h5 {
      font-size: 1em;
      line-height: 2em; } }

h6 {
  font-family: "Caviar Italic";
  font-size: 1em;
  line-height: 3em; }
  @media screen and (max-width: 1000px) {
    h6 {
      font-size: 1em;
      line-height: 2em; } }

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.button, input[type=submit], textarea[type=submit] {
  cursor: pointer;
  width: auto;
  padding: 0;
  font-family: "Caviar Bold";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: linear-gradient(#cecece, white 40%, #cecece);
  background: -moz-linear-gradient(#cecece, white 40%, #cecece);
  background: -webkit-linear-gradient(#cecece, white 40%, #cecece);
  background: -ms-linear-gradient(#cecece, white 40%, #cecece);
  background: -o-linear-gradient(#cecece, white 40%, #cecece); }

.error {
  color: red;
  margin: 1em; }

* {
  margin: 0;
  padding: 0;
  color: #222; }

body {
  background-color: #cecece;
  margin: 0;
  padding: 0;
  font-size: 1em; }

/*
///////// gradient //////////
body {
  background: $color;
  background: -webkit-linear-gradient($color, $color2);
  background: -o-linear-gradient($color, $color2);
  background: -moz-linear-gradient($color, $color2);
  background: linear-gradient($color, $color2);
}

///////// pattern //////////
#bg_pattern {
  background-image: url(image.png);
  background-position: left top;
  background-size: $percent*25;
  background-repeat: repeat;
}

///////// image //////////
#bg_image {
  background: url(image.png);
  background-size: cover;
  background-repeat: no-repeat;
}*/
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px; }

header {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.9); }
  header #logo_wrapper {
    width: auto; }
    header #logo_wrapper img {
      width: 300px; }
  header #banner_wrapper {
    width: 100%; }
    header #banner_wrapper img {
      width: 100%; }
  @media screen and (max-width: 1000px) {
    header {
      width: 85%; } }
  @media screen and (max-width: 520px) {
    header {
      width: 95%; } }

.nav_line {
  padding: 2em; }
  .nav_line #main_nav ul {
    width: 60%; }
    .nav_line #main_nav ul li {
      padding: 0 1em;
      font-family: "Caviar Bold";
      font-size: 1.3em; }
      @media screen and (max-width: 1200px) {
        .nav_line #main_nav ul li {
          font-size: 1.1em;
          padding: 0 0.5em; } }
      @media screen and (max-width: 1000px) {
        .nav_line #main_nav ul li {
          font-size: 1em; } }
      @media screen and (max-width: 900px) {
        .nav_line #main_nav ul li {
          font-size: 1.3em; } }
    @media screen and (max-width: 900px) {
      .nav_line #main_nav ul {
        display: none !important; } }
  .nav_line #logo_wrapper img {
    width: 200px; }
    @media screen and (max-width: 1400px) {
      .nav_line #logo_wrapper img {
        width: 150px; } }
    @media screen and (max-width: 1000px) {
      .nav_line #logo_wrapper img {
        width: 120px; } }

#nav_icon {
  display: none;
  cursor: pointer;
  float: right; }
  #nav_icon i {
    font-size: 3em;
    color: rgba(0, 0, 0, 0.9); }
  @media screen and (max-width: 900px) {
    #nav_icon {
      display: block !important; } }

#mobile_nav {
  display: none;
  background-color: #cecece;
  width: auto;
  position: absolute;
  top: 8em;
  right: 4em;
  height: auto;
  padding: 1em; }
  @media screen and (max-width: 800px) {
    #mobile_nav {
      right: 3em; } }
  @media screen and (max-width: 600px) {
    #mobile_nav {
      right: 2em; } }
  @media screen and (max-width: 520px) {
    #mobile_nav {
      right: 1em; } }
  #mobile_nav li {
    padding: 0.5em;
    font-size: 1.3em; }
    #mobile_nav li:not(:first-child) {
      border-top: thin solid white; }

.subnavi ul, .projnavi ul {
  margin: 1em 0; }
  @media screen and (max-width: 300px) {
    .subnavi ul, .projnavi ul {
      flex-direction: column;
      align-items: flex-start; } }
  .subnavi ul li, .projnavi ul li {
    padding-right: 2em;
    font-family: "Caviar Bold";
    font-size: 1.2em; }
    @media screen and (max-width: 490px) {
      .subnavi ul li, .projnavi ul li {
        padding-right: 0.9em; } }
    @media screen and (max-width: 490px) {
      .subnavi ul li, .projnavi ul li {
        font-size: 1em; } }
    @media screen and (max-width: 300px) {
      .subnavi ul li, .projnavi ul li {
        font-size: 1.2em;
        padding: 0.3em 0; } }

.footer_navi {
  font-family: "Caviar Bold";
  font-size: 1em; }
  @media screen and (max-width: 700px) {
    .footer_navi {
      display: none; } }

#main_wrapper {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9); }
  @media screen and (max-width: 1000px) {
    #main_wrapper {
      width: 85%; } }
  @media screen and (max-width: 700px) {
    #main_wrapper {
      flex-direction: column-reverse; } }
  @media screen and (max-width: 520px) {
    #main_wrapper {
      width: 95%;
      padding: 1em 0; } }
  @media screen and (max-width: 400px) {
    #main_wrapper {
      padding-top: 0; } }
  #main_wrapper #side_wrapper {
    width: 35%; }
    @media screen and (max-width: 700px) {
      #main_wrapper #side_wrapper {
        width: 100%; } }
  #main_wrapper aside {
    width: 90%;
    padding: 1em 3%; }
    @media screen and (max-width: 700px) {
      #main_wrapper aside {
        padding: 0;
        margin: 1em auto; } }
    #main_wrapper aside #sidebar {
      padding: 0.5em 0;
      text-align: center; }
      @media screen and (max-width: 700px) {
        #main_wrapper aside #sidebar {
          flex-direction: row;
          justify-content: flex-start; } }
      @media screen and (max-width: 490px) {
        #main_wrapper aside #sidebar {
          flex-direction: column; } }
    #main_wrapper aside .img_aside {
      width: 100%;
      margin: 1em auto; }
      @media screen and (max-width: 700px) {
        #main_wrapper aside .img_aside {
          width: 30%;
          margin: 0 3em; } }
      #main_wrapper aside .img_aside img {
        width: 80%; }
        @media screen and (max-width: 1400px) {
          #main_wrapper aside .img_aside img {
            width: 130px; } }
        @media screen and (max-width: 1000px) {
          #main_wrapper aside .img_aside img {
            width: 100px; } }
  #main_wrapper main {
    width: 85%; }
    @media screen and (max-width: 1400px) {
      #main_wrapper main {
        width: 75%; } }
    @media screen and (max-width: 700px) {
      #main_wrapper main {
        width: 90%;
        margin: 0 auto; } }
    @media screen and (max-width: 1200px) {
      #main_wrapper main h1 {
        font-size: 1.5em; } }
    @media screen and (max-width: 490px) {
      #main_wrapper main h1 {
        font-size: 1.2em;
        margin-bottom: 1em; } }
    #main_wrapper main p {
      padding: 0 2em 2em 0; }

form {
  width: 100%; }
  @media screen and (max-width: 600px) {
    form {
      width: 90%;
      margin: 2em auto; } }
  form div {
    width: 100%;
    margin-bottom: 1em; }
    @media screen and (max-width: 400px) {
      form div {
        flex-direction: column; } }

label {
  width: 20%; }
  @media screen and (max-width: 400px) {
    label {
      margin-bottom: 1em; } }

.backend_label {
  width: 100%; }

input, textarea {
  width: 40%;
  height: 2em;
  border: none;
  border-bottom: thin solid #cecece;
  padding: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0.5px 0.5px 4px 0.5px #cecece;
  -moz-box-shadow: 0.5px 0.5px 4px 0.5px #cecece;
  box-shadow: 0.5px 0.5px 4px 0.5px #cecece; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    font-family: "Caviar Italic";
    font-size: 0.9em;
    color: #555; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-family: "Caviar Italic";
    font-size: 0.9em;
    color: #555; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    font-family: "Caviar Italic";
    font-size: 0.9em;
    color: #555; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: "Caviar Italic";
    font-size: 0.9em;
    color: #555; }
  @media screen and (max-width: 1400px) {
    input, textarea {
      width: 50%; } }
  @media screen and (max-width: 1000px) {
    input, textarea {
      width: 60%; } }
  @media screen and (max-width: 600px) {
    input, textarea {
      width: 75%; } }
  @media screen and (max-width: 400px) {
    input, textarea {
      width: 80%; } }

input[type=file], textarea[type=file] {
  width: 100%;
  margin: 0.5em 0; }

input[type=submit], textarea[type=submit] {
  margin: 0.5em 2em 0.5em 0; }

textarea {
  height: 10em;
  text-align: left;
  -webkit-box-shadow: 0.5px 0.5px 4px 0.5px #cecece;
  -moz-box-shadow: 0.5px 0.5px 4px 0.5px #cecece;
  box-shadow: 0.5px 0.5px 4px 0.5px #cecece; }
  @media screen and (max-width: 600px) {
    textarea {
      margin-left: 1em; } }

select {
  margin: 1em 0;
  width: 35%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.vorstand_box {
  width: 100%;
  margin-bottom: 3em; }
  .vorstand_box figure {
    width: auto; }
    .vorstand_box figure img {
      width: 95%; }
      @media screen and (max-width: 1600px) {
        .vorstand_box figure img {
          width: 85%; } }
  .vorstand_box .vorstand_textbox {
    width: 70%; }
  .vorstand_box:first-of-type {
    margin-top: 2em; }

/*#vorstand_wrapper {
  @include flexbox(row, space-between, flex-start);
}

.vorstand_box {
  width: $percent*24;
  height: $em*25;
  //padding: $em;
  border-right: $border_grey;
  @include flexbox(column, space-between, center);
  figure {
    width: $percent*90;
    height: $percent*50;
    img {
      width: $percent*95;
    }
  }
  .vorstand_textbox {
    width: $percent*90;
    height: $percent*50;
  }
  &:last-of-type {
    border: none;
  }
}*/
.accordion_title {
  padding-left: 0.5em;
  text-align: left;
  background-color: rgba(206, 206, 206, 0.9);
  cursor: pointer; }
  .accordion_title:after {
    content: '\02795';
    float: right;
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding-right: 1em;
    font-family: "Caviar";
    font-size: 1em;
    line-height: 1.5em; }
  .accordion_title:hover {
    background-color: #cecece; }
  .accordion_title.active {
    background-color: #cecece; }
    .accordion_title.active:after {
      content: '\2796'; }

.panel {
  padding: 1em 0.5em;
  display: none; }
  .panel.show {
    display: block; }

footer {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5em 0;
  border-top: thin solid #555; }
  @media screen and (max-width: 1000px) {
    footer {
      width: 85%; } }
  @media screen and (max-width: 520px) {
    footer {
      width: 95%; } }
  @media screen and (max-width: 400px) {
    footer {
      flex-direction: column; } }
  @media screen and (max-width: 400px) {
    footer p {
      width: 75%;
      margin: 1em auto; } }

#imprint_wrapper .imprint_box {
  margin-top: 2em; }
  @media screen and (max-width: 490px) {
    #imprint_wrapper .imprint_box h3 {
      padding-left: 0.5em; } }
  #imprint_wrapper .imprint_box .imprint_subbox p {
    margin-right: 2em; }

#backend #backend_header {
  margin: 3em;
  padding: 1em; }
  @media screen and (max-width: 600px) {
    #backend #backend_header {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 1em; } }
  #backend #backend_header figure {
    width: 10%; }
    #backend #backend_header figure img {
      width: 100%; }
    @media screen and (max-width: 600px) {
      #backend #backend_header figure {
        width: 20%;
        margin-left: 1em; } }
    @media screen and (max-width: 400px) {
      #backend #backend_header figure {
        width: 35%;
        margin-left: 1em; } }
  #backend #backend_header nav {
    width: 45%; }
    @media screen and (max-width: 1200px) {
      #backend #backend_header nav {
        width: 65%; } }
    @media screen and (max-width: 700px) {
      #backend #backend_header nav {
        width: 70%; } }
    @media screen and (max-width: 600px) {
      #backend #backend_header nav {
        width: 85%;
        margin-left: 1em;
        margin-top: 1em; } }
    @media screen and (max-width: 490px) {
      #backend #backend_header nav {
        width: 90%; } }
    @media screen and (max-width: 400px) {
      #backend #backend_header nav ul {
        flex-direction: column;
        font-size: larger; } }
#backend #backend_main {
  width: 75%;
  margin: 0 auto; }
  @media screen and (max-width: 1000px) {
    #backend #backend_main {
      width: 85%; } }
  @media screen and (max-width: 520px) {
    #backend #backend_main h1 {
      margin-top: 1em; } }
  @media screen and (max-width: 1000px) {
    #backend #backend_main .content {
      flex-direction: column; } }
  #backend #backend_main .content .download {
    width: 60%; }
    @media screen and (max-width: 1000px) {
      #backend #backend_main .content .download {
        width: 100%; } }
    #backend #backend_main .content .download a {
      padding: 1em; }
#backend .article_create {
  width: 100%; }
#backend .crud {
  padding-bottom: 2em; }
  @media screen and (max-width: 400px) {
    #backend .crud {
      flex-direction: column; } }
  #backend .crud a {
    padding: 0.3em; }
  #backend .crud > div {
    width: 100%; }
    @media screen and (max-width: 600px) {
      #backend .crud > div {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 1em; } }
    #backend .crud > div h6 {
      width: 40%; }
      @media screen and (max-width: 1000px) {
        #backend .crud > div h6 {
          width: 50%; } }
    #backend .crud > div div {
      width: 20%; }
      @media screen and (max-width: 1400px) {
        #backend .crud > div div {
          width: 30%; } }
      @media screen and (max-width: 700px) {
        #backend .crud > div div {
          width: 40%; } }
      @media screen and (max-width: 600px) {
        #backend .crud > div div {
          width: 60%; } }
      @media screen and (max-width: 400px) {
        #backend .crud > div div {
          width: 80%; } }

/*# sourceMappingURL=style.css.map */
