// ------------------------- HEADER --------------------------- //

////////// Wireframe 1 - Width < Viewport ///////////

header {
  width: $percent*75;
  background-color: $white_trans;
  #logo_wrapper {
    width: auto;
    img {
      width: $pixel*300;
    }
  }
  #banner_wrapper {
    width: $percent*100;
    img {
      width: $percent*100;
    }
  }
  // Media Query max-width 1000px
  @include breakpoint1000 {
    width: $percent*85;
  }
  // Media Query max-width 520px
  @include breakpoint520 {
    width: $percent*95;
  }
}
