// ----------------------- COLOR VARIABLES --------------------- //

$white: white;
$white_trans: rgba(255, 255, 255, 0.9);

$black: rgba(0, 0, 0, 0.9);
$darkgrey: #555;

$lightgrey: #cecece;
$lightgrey_trans: rgba(206, 206, 206, 0.9);

$textcolor: #222;