// ----------------------- FONTS --------------------- //

@font-face {
  font-family: 'Caviar';
  src: url('../fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: 'Caviar Bold';
  src: url('../fonts/Caviar_Dreams_Bold.ttf');
}

@font-face {
  font-family: 'Caviar Italic';
  src: url('../fonts/CaviarDreams_Italic.ttf');
}

@font-face {
  font-family: 'Caviar BoldIt';
  src: url('../fonts/CaviarDreams_BoldItalic.ttf');
}

/////////// FONT VARIABLES ////////////

$caviar: 'Caviar';
$caviarB: 'Caviar Bold';
$caviarI: 'Caviar Italic';
$caviarBI: 'Caviar BoldIt';