// ----------------------- TYPOGRAPHY --------------------- //


p, li, label {
  font-family: $caviar;
  font-size: $em;
  line-height: $em*1.5;
  // Media Query max-width 1000px
  @include breakpoint1000 {
    font-size: $em*0.9;
    line-height: $em*1.3;
  }
}

a {
  font-family: $caviarB;
  text-decoration: none;
  color: $textcolor;
}

li {
  list-style-type: none;
}

h1 {
  font-family: $caviarB;
  font-size: $em*2;
  line-height: $vertspace;
  // Media Query max-width 1000px
  @include breakpoint1000 {
    font-size: $em*1.7;
    line-height: $em*2.5;
  }
  // Media Query max-width 600px
  @include breakpoint600 {
    font-size: $em*1.5;
    line-height: $em*2;
  }
}

h2 {
  font-family: $caviarBI;
  font-size: $em*1.5;
  line-height: $vertspace;
  // Media Query max-width 1000px
  @include breakpoint1000 {
    font-size: $em*1.3;
    line-height: $em*2;
  }
}

h3 {
  font-family: $caviarB;
  font-size: $em*1.3;
  line-height: $vertspace;
  // Media Query max-width 1000px
  @include breakpoint1000 {
    font-size: $em*1.1;
    line-height: $em*2;
  }
}

h4 {
  font-family: $caviarB;
  font-size: $em*1.2;
  line-height: $vertspace;
  // Media Query max-width 1000px
  @include breakpoint1000 {
    font-size: $em;
    line-height: $em*2;
  }
}

h5 {
  font-family: $caviarBI;
  font-size: $em*1.2;
  line-height: $vertspace;
  // Media Query max-width 1000px
  @include breakpoint1000 {
    font-size: $em;
    line-height: $em*2;
  }
}

h6 {
  font-family: $caviarI;
  font-size: $em*1.2;
  line-height: $vertspace;
  // Media Query max-width 1000px
  @include breakpoint1000 {
    font-size: $em;
    line-height: $em*2;
  }
}