// ----------------------- TYPOGRAPHY --------------------- //


p, li {
  font-family: $caviar;
  font-size: $em;
  line-height: $em*1.5;
}

a {
  text-decoration: none;
  color: $textcolor;
}

li {
  list-style-type: none;
}

h1 {
  font-family: $caviarB;
  font-size: $em*2;
  line-height: $vertspace;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}