// ----------------------- MISC VARIABLES --------------------- //

$pixel: 1px;
$em: 1em;
$percent: 1%;


$border_dark: thin solid $darkgrey;
$border_light: thin solid $white;
$border_grey: thin solid $lightgrey;

$box_shadow: $pixel*0.5 $pixel*0.5 $pixel*4 $pixel*0.5 $lightgrey;

$vertspace: $em*3;


