// ------------------------- MIXINS --------------------------- //


@mixin flexbox ($dir, $justify, $align) {
  @include display-flex();
  @include flex-direction($dir);
  @include justify-content($justify);
  @include align-items($align);
}

@mixin placeholder {
  &:-moz-placeholder           {@content}
  &:-ms-input-placeholder      {@content}
  &::-moz-placeholder          {@content}
  &::-webkit-input-placeholder {@content}
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box_shadow ($box_shadow){
  -webkit-box-shadow: $box_shadow;
  -moz-box-shadow: $box_shadow;
  box-shadow: $box_shadow;
}

@mixin linear_gradient {
  background: linear-gradient($lightgrey, $white 40%, $lightgrey);
  background: -moz-linear-gradient($lightgrey, $white 40%, $lightgrey);
  background: -webkit-linear-gradient($lightgrey, $white 40%, $lightgrey);
  background: -ms-linear-gradient($lightgrey, $white 40%, $lightgrey);
  background: -o-linear-gradient($lightgrey, $white 40%, $lightgrey);
}

@mixin radial_gradient {
  background: radial-gradient($white $percent*30, $lightgrey);
  background: -moz-radial-gradient($white $percent*30, $lightgrey);
  background: -webkit-radial-gradient($white $percent*30, $lightgrey);
  background: -ms-radial-gradient($white $percent*30, $lightgrey);
  background: -o-radial-gradient($white $percent*30, $lightgrey);
}


/*@mixin text ($f_family, $f_size, $line-height, $color) {
  font-family: $f_family;
  font-size: $f_size;
  line-height: $line-height;
  color: $color;
}

@mixin hyphens ($hyph) {
  -moz-hyphens: $hyph;
  -webkit-hyphens: $hyph;
  -ms-hyphens: $hyph;
  hyphens: $hyph;
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rotate ($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin background ($bg_img, $bg_pos, $bg_rep, $bg_size, $bg_color) {
  background-image: $bg_img;
  background-position: $bg_pos;
  background-repeat: $bg_rep;
  background-size: $bg_size;
  background-color: $bg_color;
}

*/


/*@mixin touch-action {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

@mixin user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/
