// ------------------------- FOOTER --------------------------- //

////////// Wireframe 3 + 4 - Width = Viewport ///////////

footer {
  width: $percent*100;
  background-color: $white_trans;
  margin-top: $vertspace;
  padding: $em*1.5 0;
  @include flexbox(row, space-around, flex-start);
  // Media Query max-width 400px
  @include breakpoint400 {
    flex-direction: column;
  }
  p {
    // Media Query max-width 400px
    @include breakpoint400 {
      width: $percent*75;
      margin: $em auto;
    }
  }
}
