// ------------------------- HEADER --------------------------- //

////////// Wireframe 3 + 4 - Width = Viewport ///////////

header {
  width: $percent*100;
  position: relative;
  #banner_wrapper {
    width: $percent*100;
    img {
      width: $percent*100;
    }
  }
  #logo_wrapper {
    width: auto;
    position: absolute;
    top: $percent*5;
    left: $percent*5;
    img {
      width: $pixel*300;
      // Media Query max-width 1400px
      @include breakpoint1400 {
        width: $pixel*250;
      }
      // Media Query max-width 1000px
      @include breakpoint1000 {
        width: $pixel*200;
      }
      // Media Query max-width 900px
      @include breakpoint900 {
        width: $pixel*150;
      }
      // Media Query max-width 700px
      @include breakpoint700 {
        width: $pixel*120;
      }
      // Media Query max-width 490px
      @include breakpoint490 {
        width: $pixel*100;
      }
      // Media Query max-width 400px
      @include breakpoint400 {
        display: none;
      }
    }
  }
}
