// ------------------------- MAIN --------------------------- //

////////// Wireframe 3 + 4 - Width = Viewport ///////////

#main_wrapper {
  // WIreframe 3:
  width: $percent*90;

  // Wireframe 4:
  //width: $percent*95;

  margin: -($pixel*30) auto 0;
  z-index: 5;
  @include flexbox(row, space-around, flex-start);
  // Media Query max-width 1000px
  @include breakpoint1000 {
    width: $percent*95;
  }
  // Media Query max-width 700px
  @include breakpoint700 {
    flex-direction: column-reverse;
    margin: -($pixel*90) auto 0;
  }
  // Media Query max-width 490px
  @include breakpoint490 {
    width: $percent*100;
  }
  // Media Query max-width 400px
  @include breakpoint400 {
    margin: -($pixel*130) auto 0;
  }
}

#side_wrapper {
  width: $percent*20;
  @include flexbox (column, center, center);
  // Media Query max-width 1000px
  @include breakpoint1000 {
    width: $percent*24;
  }
  // Media Query max-width 700px
  @include breakpoint700 {
    width: $percent*100;
  }
}

aside {
  width: $percent*100;
  height: $percent*90;
  background-color: $white_trans;
  margin: $vertspace 0;
  @include flexbox(column, space-between, center);
  #sidebar {
    padding: $em*0.5 0;
    text-align: center;
    // Media Query max-width 700px
    @include breakpoint700 {
      width: $percent*100;
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .sidebar_content {
      // Media Query max-width 700px
      @include breakpoint700 {
        padding: $em*0.5;
      }
      ul {
        // Media Query max-width 700px
        @include breakpoint700 {
          padding-top: $em;
          display: flex;
          flex-direction: row;
        }
        // Media Query max-width 300px
        @include breakpoint300 {
          flex-direction: column;
        }
        li {
          // Media Query max-width 700px
          @include breakpoint700 {
            padding-right: $em;
          }
        }
      }
    }
    // Media Query max-width 490px
    @include breakpoint490 {
      flex-direction: column;
    }
  }
  .img_aside {
    width: auto;
    img {
      width: $pixel*200;
      // Media Query max-width 1200px
      @include breakpoint1200 {
        width: $pixel*150;
      }
      // Media Query max-width 800px
      @include breakpoint800 {
        width: $pixel*120;
      }
      // Media Query max-width 600px
      @include breakpoint600 {
        width: $pixel*90;
      }
      // Media Query max-width 490px
      @include breakpoint490 {
        width: $pixel*100;
        padding: $em;
      }
    }
  }
  // Media Query max-width 600px
  @include breakpoint600 {
    //width: $percent*95;
  }
}

main {
  // Wireframe 3:
  width: $percent*65;
  // Media Query max-width 1000px
  @include breakpoint1000 {
    width: $percent*60;
    padding: $vertspace $em*2;
  }
  // Media Query max-width 700px
  @include breakpoint700 {
    width: $percent*90;
    margin: 0 auto;
    position: relative;
  }

  // Wireframe 4:
  //width: $percent*50;
  // Media Query max-width 1200px
  /*@include breakpoint1200 {
    width: $percent*40;
  }*/
  // Media Query max-width 800px
  /*@include breakpoint800 {
    width: $percent*35;
  }*/
  // Media Query max-width 700px
  /*@include breakpoint700 {
    width: $percent*85;
    margin: 0 auto;
    position: relative;
  }*/

  // Media Query max-width 600px
  @include breakpoint600 {
    width: $percent*100;
    padding: $vertspace 0;
  }
  background-color: $white_trans;
  padding: $vertspace;
  #logo_mobile {
    display: none;
    width: auto;
    float: right;
    margin-top: -($em*2);
    margin-right: $em;
    img {
      width: $pixel*90;
    }
    // Media Query max-width 400px
    @include breakpoint400 {
      display: block !important;
    }
  }
  h1 {
    // Media Query max-width 900px
    @include breakpoint900 {
      font-size: $em*1.4;
    }
    // Media Query max-width 700px
    @include breakpoint700 {
      margin-top: $em*2;
    }
    // Media Query max-width 600px
    @include breakpoint600 {
      padding: $em;
    }
    // Media Query max-width 490px
    @include breakpoint490 {
      margin-top: $em*5;
      padding: 0 $em*0.5;
    }
  }
  p {
    // Media Query max-width 600px
    @include breakpoint600 {
      padding: 0 $em*2;
    }
    // Media Query max-width 490px
    @include breakpoint490 {
      padding: $em*0.8;
    }
  }
}

// Wireframe 4:
/*#sidebar_right {
  margin-top: 0;
  width: $percent*20;
  padding: $em*0.5;
  // Media Query max-width 700px
  @include breakpoint700 {
    display: none;
  }*/

